{
  "plugins": ["prettier-plugin-tailwindcss"],
  "singleQuote": true,
  "overrides": [
    {
      "files": [".prettierrc", ".eslintrc"],
      "options": {
        "parser": "json",
        "endOfLine": "crlf"
      }
    }
  ]
}
