<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'; connect-src 'self' https://raw.githubusercontent.com; https://6f80028718cf4d97bb270f5c5e0d9398@o1402111.ingest.sentry.io;"
    />
    <title>Oto Music For Desktop</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
